

body {
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
  color: #0051ff;
}

.crt-startup {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #001020 0%, #000 80%);
  overflow: hidden;
  animation: startup 2.5s ease-in-out forwards;
}

.crt-startup:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255,255,255,0.9);
  transform: scaleY(0);
  animation: flash 0.5s ease-in-out forwards;
}

.content {
  opacity: o;
  text-align: center;
  font-size: 2rem;
  animation: fadeI;
}