/**
/// LANDING PAGE ////
**/

.index-screen {
  background-color: black;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-background {
  object-fit: contain;
}

.crt-startup {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #001020 0%, #000 80%);
  overflow: hidden;
  animation: startup 2.5s ease-in-out forwards;
}

.crt-startup::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.9);
  transform: scaleY(0);
  animation: flash 1.5s ease-in-out forwards;
}

.content {
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-out 2.8s forwards;
}

.logo {
  display: block;
  margin: 160px auto 0 auto;
  width: 600px;
  height: auto;
}

.scanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 2px
  );
  mix-blend-mode: overlay;
  pointer-events: none;
}

@keyframes flash {
  0% {
    transform: scaleY(0.002);
    opacity: 1;
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes startup {
  0% {
    transform: scaleY(0.02);
    opacity: 0;
  }
  30% {
    transform: scaleY(0.04);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/**
/// PAGE 3 ////
**/

.truth-screen {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("assets/images/background.png") no-repeat center center /cover;
  overflow: hidden;
  z-index: 1;
}

.ascii-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 2;
  pointer-events: none;
}

.ascii-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.doritos {
  position: absolute;
  top: 5%;
  left: 55%;
  width: 40%;
  height: 40%;
  object-fit: contain;
  z-index: 999;
  pointer-events: auto;
}

.angel {
  position: absolute;
  top: 31%;
  left: -6%;
  width: 40%;
  height: 40%;
  object-fit: contain;
  z-index: 999;
  pointer-events: auto;
}

/**
/// PAGE 4 ////
**/

.algorithm-screen {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.grid-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
  pointer-events: none;
}

.character {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  height: 70%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}

.rectangle-info {
  position: absolute;
  top: 42%;
  left: 2%;
  width: 38vw;
  height: auto;
  object-fit: contain;
  z-index: 3;
}

.square-info {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 30vw;
  height: auto;
  object-fit: contain;
  z-index: 3;
}