@font-face {
    font-family: 'Windows';
    src: url('Assets/Fonts/windows-bold[1].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


body, header {
    margin: 0;
    padding: 0;
    overflow: none;
}

h1 {
    font-family: 'Windows', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Windows', sans-serif;
    text-align: center;
}

.computer {
    display: block;
    width: 1000px;  
    margin: 50px auto 0;
}


.web1 {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-size: 20px;
}

.web2 {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-size: 20px;
}

.web3 {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-size: 20px;
}

.web4 {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-size: 20px;
}

.paragraph1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 1000px;
    text-align: center;
    font-size: 20px;
}

.paragraph2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 1000px;
    text-align: center;
    font-size: 20px;
    
}
