body {
  /* fixed background */
  background-image: url("mench-bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;    /* fill entire viewport */
  background-position: center;
  background-attachment: fixed; /* stays still when scrolling */
  margin: 0;
  height: 100vh;
}

/* container for character + glass */
#mench-all {
position: relative;
left: 20%;
animation: dance 2s infinite ease-in-out;
}


/* character */
#mench-zi {
  width: 60vw;                /* scales with screen */
  height: auto;
  min-width: 800px;
}


/* glass fixed to hand */
#glass {
  position: absolute;
  top: 45%;                  /* ajustement pour la main */
  left: 35%;
  width: 6%;
  height: auto;
  cursor: pointer;
}

.sun1 {
  display: block;  
   filter: hue-rotate(200deg);
}
.sun2 {
  display: block;  
   filter: hue-rotate(90deg);
}

.sun3 {
  display: block;  
filter: hue-rotate(-90deg);
}

.sun4 {
  display: block;
}
