body {
  margin: 0px;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  margin: 50px auto 0 auto; 
  font-weight: bold;
}

.logo {
  display: block;
  height: 50px;
  width: auto;
}

.menu1 {
  display: flex;
  gap: 30px; 
}

.menu1 a {
  color: rgb(0, 191, 255);
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

header h1 {
  text-align: left;
  font-size: 5em;
  margin-bottom: 3px;
}

h3 {
  color: #999;
}

.book {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
}

.book figure {
  display: inline-block;
  position: relative; 
  cursor: pointer;
}

.img1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img2 {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.img3 {
  grid-column: 7 / 13;
  grid-row: 3 / 6;
  grid-row: 1 / 4;
}

.img4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.img5 {
  grid-column: 4 / 7;
}

.img6 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.img7 {
  grid-column: 7 / 10;
  grid-row: 4;
}

.img8 {
  grid-column: 10 / 13;
  grid-row: 4;
}

.img9 {
  grid-column: 7 / 10;
  grid-row: 5;
}

.img10 {
  grid-column: 10 / 13;
  grid-row: 5;
}

.img11 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.img12 { 
  grid-column: 4 / 7;
  grid-row: 6;
}

.img13 {
  grid-column: 7 / 13;
  grid-row: 6 / 9;
}

.img14 {
  grid-column: 1 / 4;
  grid-row: 7 / 9;
}

.img15 {
  grid-column: 4 / 7;
}

.book img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.social {
  display: flex;
}

.credit {
  margin: 0 auto;
}

@media (max-width: 480px) {
  nav {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    padding: 30px 0;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 4px solid #000;
    background: #000000;
    z-index: 1000;
    color: white;
    float: none;
  }

  nav a {
    color: white;
  }

  .wrapper {
    margin-top: 500px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    float: none;
    line-height: 150%;
  }

  main {
    text-align: justify;
  }

  .book {
    grid-template-columns: auto auto auto;
    gap: 16px;
  }
}