body {
  margin: 0px;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  margin: 50px auto 0 auto; 
  font-weight: bold;
}

.logo {
  display: block;
  height: 50px;
  width: auto;
}

.menu1 {
  display: flex;
  gap: 30px; 
}

.menu1 a {
  color: rgb(0, 191, 255);
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

header h1 {
  text-align: left;
  font-size: 5em;
  margin-bottom: 3px;
}

h3 {
  color: #999;
}

.book {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
}

.book figure {
  display: inline-block;
  position: relative; 
  cursor: pointer;
}

.book figure a {
  text-decoration: none;
  color: inherit;
  display: block;
}


.story-one {
  grid-column: 1 / 7;
}

.story-one img {
  width: 50%;
  object-fit: cover;
  height: 100%;
}

.story-two {
  grid-column: 7 / 13 ;
}

.story-two p {
  text-align: left;
}

.story-two h2 {
  text-align: left;
  font-size: 2em;
}

.img1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img2 {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.img3 {
  grid-column: 7 / 13;
  grid-row: 3 / 6;
  grid-row: 1 / 4;
}

.img4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.img5 {
  grid-column: 4 / 7;
}

.img6 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.img7 {
  grid-column: 7 / 10;
  grid-row: 4;
}

.img8 {
  grid-column: 10 / 13;
  grid-row: 4;
}

.img9 {
  grid-column: 7 / 10;
  grid-row: 5;
}

.img10 {
  grid-column: 10 / 13;
  grid-row: 5;
}

.img11 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.img12 { 
  grid-column: 4 / 7;
  grid-row: 6;
}

.img13 {
  grid-column: 7 / 13;
  grid-row: 6 / 9;
}

.img14 {
  grid-column: 1 / 4;
  grid-row: 7 / 9;
}

.img15 {
  grid-column: 4 / 7;
}

.book img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.hover-text {
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 10px;
  background: rgb(17, 0, 255);
  padding: 8px;
  border-radius: 10px;
  color: white;
  transition: opacity 0.2s ease;
}

.book figure:hover .hover-text {
  display: block;
  opacity: 1;
}

.book figure img {
  transition: all 0.7s ease;
}

.book figure:hover img {
  transform: scale(1.05);
  opacity: 0.8;
  filter: blur(2px);
}

footer {
  margin-top: 20px;
  min-height: 30px;
  font-size: 10px;
  font-weight: lighter;
  text-align: right;
  font-style: italic;
}

.social {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.social .fa {
  padding: 12px;
  font-size: 3em;
  text-decoration: none;
  color: grey;
}

.credit {
  margin: 0 auto;
  text-align: center;
}

.hamburger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}

.hamburger-menu button {
  background: none;
  border: none;
  color: gray;
}

.hamburger-menu button .fa-bars {
  cursor: pointer;
  font-size: 2.5em;
}

.close-menu {
  display: none;
}

section {
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 780px) {
  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: gray;
  }

  .hamburger-menu {
    display: flex;
    grid-column: auto;
  }

  button {
    border-width: 0px;
    background-color: auto;
  }

  .menu-deployed {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 11000;
    padding-top: 50px;
  }

  .menu1 {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .menu1 a {
    padding: 20px;
    color: gray;
  }
  
  nav {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    padding: 30px 0;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 4px solid #000;
    background: #000000;
    z-index: 1000;
    color: white;
    float: none;
  }

  nav a {
    color: white;
  }

  .wrapper {
    margin-top: 500px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    float: none;
    line-height: 150%;
  }

  main {
    text-align: justify;
  }

  .book {
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 0px;
    grid-auto-flow: row dense;
    width: 100%;
  }

  .book [class^="img"] {
    grid-column: auto !important;
    grid-row: auto !important;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .book figure {
    margin: 0;
  }

  .story-one {
    grid-column: 1 / 3;
  }

  .story-two {
    grid-column: 1 / 3;
  }
}